* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
}

:root {
    --20thcentery-font: '20thcentery', sans-serif;
    --black-color: #212323;
}

body {
    background-color: #fcfcfc;
}

#background{
    width:100vw;
    height:100vh;
    background-image: url(../img/chang-duong-372839-unsplash.jpg);
    background-size:cover;
}

/* THIS IS THE MOBILE VERSION */

/* start of the header */

.opacity {
    background-color: rgba(0, 0, 0, 0.9);
}

#m:checked~div {
    display: block;
}

#m {
    display: none;
}

label {
    z-index: 10;
    font-size: 2em;
    margin-top:2vh;
    margin-bottom: 2vh;
    margin-left: 43vw;
    color: #ff5a3d;
}

#logo {
    width: 40%;
    margin-top:1vh;
    margin-left:3vw;
}

.flex-menu {
    font-family: var(--20thcentery-font);
    display: flex;
    flex-direction: column;
}

.flex-logo-menulabel {
    display: flex;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    width: 100vw;
    height: 7em;
}

.nav #dropdown {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    display: none;
    z-index: 10;
}

.nav #dropdown a {
    display: block;
    z-index: 10;
    text-align: center;
    padding: 1em;
    margin-top:4vh;
    font-size: 1.2em;
}

/*to change
.nav a:hover {
    color: var(--brown-accent-color);
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--brown-accent-color);
    text-decoration: none;
}

.active-page {
    border-bottom: 1px solid blue;
}*/

#main-title-desktop{
    display:none;
}

#main-title{
    margin-left: 3vw;
    width:288px;
}


/* Arrow */

.fa-chevron-down {
    margin-top: 75%;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow {
    margin-left: 45%;
    margin-right:auto;
    width: 40px;
    cursor: pointer;
    color: var(--black-color);
}

.arrow:hover {
    color: #ff5a3d;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 4s infinite;
}

#look{
    font-size:1.3em;
    font-family: var(--20thcentery-font);
    margin-top:13%;
    margin-bottom:13%;
    margin-left:32%;
    padding:0.5em;
    margin-right:auto;
    border: 2px solid black;
    color:#ff5a3d;
}

#learn{
    font-size:1.3em;
    margin-top:10vh;
    margin-left:10vw;
    margin-right:10vw;
    text-align: center;
    margin-bottom: 3vh;
}
/* end of the header */



/* start of computer section */
.svgTitle{
    width:60vw;
    margin-bottom: 5%;
    margin-left:19vw;
    margin-right:auto;
}

#sectionComputer{
    height:100vh;
    width:100vw;
}

#sectionEmail{
    height:100vh;
    width:100vw;
}

#sectionPassword{
    height:100vh;
    width:100vw;
}

#sectionShop{
    height:100vh;
    width:100vw;
}

#sectionWot{
    height:100vh;
    width:100vw;
}

#computerAnim,
#emailAnim,
#passwordAnim {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom:10%;
    padding-top:10%;
    width: 40%;
}


.title-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.title-about div {
    margin: 0 auto;
}

.text-styling {
    width: 75%;
    margin: 0 auto;
    font-family: var(--20century);
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
}

.headingSvg{
    width: 70%;
    margin-left:17%;
    margin-right:auto;
    padding-bottom: 5%;
}

.about-text span {
    font-size: 1.2em;
}


footer {
    background-color: #242526;
}

.footer-social-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}

#footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #b5b8bc;
    font-family: var(--quicksand-font);
}

#footer img {
    width: 40%;
    margin: 0 auto;
}


/*DESKTOP MEDIA SCREEN QUERY*/

@media screen and (min-width: 1024px) {
    .navbar {
        align-items: center;
    }

    .nav #dropdown {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        height: auto;
        justify-content: flex-end;
    }

    .nav #dropdown a {
        display: block;
        text-align: center;
    }

    #dropdown {
        display: block;
    }

    label {
        display: none;
    }

    #logo {
        width: 17em;
    }

    .flex-menu {
        flex-direction: row;
        margin-right: 3vw;
        letter-spacing: 1px;
    }

    .fa-chevron-down {
        margin-top: 20vh;
    }
    .main-about-box {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 110vh;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .main-about-box-desktop div {
        width: 80%;
        margin: 0 auto;
    }
    .main-about-box-desktop div img {
        display: block;
    }

    #title-main-desktop {
        margin-top: 10vh;
    }


    /*FOOTER*/
    #footer {
        width: 40%;
    }

    #main-title-desktop{
        margin-left: 60px;
        width:900px;
    }
    #main-title{
    margin-left: 25%;
    width:60%;
    }

    #look{
    font-size:1.8em;
    margin-top:8vh;
    margin-bottom:8%;
    margin-left:48.5%;
    margin-right:auto;
}

#learn{
    font-size:1.8em;
    margin-top:5%;
    margin-left:30%;
    margin-right:20%;
}

.fa-chevron-down {
    margin-top: 1px;
    margin-left: 7vw;

}

}

#background{
    width: 100vw;
    height: 100vh;
}

